<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Redirigir a una página 404 personalizada si el archivo no existe
ErrorDocument 404 /blog/page4042/page.html
</IfModule>
